@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
  background-color: #f6f5f3;
  margin-top: 2vh;
  background-repeat: repeat;
  /* background-image: url("https://i.pinimg.com/originals/f9/aa/69/f9aa69b2e50df71f618ae98a5a6a00be.jpg"); */
}

.logo {
  /* font-family: 'Orbitron', sans-serif; */
}

.logo:hover {
  transform: scale(1.2);
}

.stream-info {
  border-radius: 8px;
  background-color: #f9f8fd;
  margin-top: 2vh;
  padding: 5px
}